# PJM Hourly Energy Consumption Case

PJM Interconnection LLC (PJM) is a regional transmission organization (RTO) in the United States. It is part of the Eastern Interconnection grid operating an electric transmission system serving all or parts of Delaware, Illinois, Indiana, Kentucky, Maryland, Michigan, New Jersey, North Carolina, Ohio, Pennsylvania, Tennessee, Virginia, West Virginia, and the District of Columbia.

The hourly power consumption data comes from PJM's website and are in megawatts (MW).

### Data Preparation Step - By Sabrina Otoni da Silva - 2024/04

### Objective: To prepare the data for EDA step.

In [1]:
from pathlib import Path
from glob import glob
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
rawpath = Path('../data/d01_raw')
csv_files = glob(str(rawpath) + "/*.csv")
dataframes = {csv_file: pd.read_csv(csv_file) for csv_file in csv_files}

In [4]:
for i in range(len(dataframes)):
    df = dataframes[csv_files[i]]
    locals()[f"df{i+1}"] = df
    print(locals()[f"df{i+1}"].head())
    print(locals()[f"df{i+1}"].info())
    print('----------------------')

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121273 entries, 0 to 121272
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121273 non-null  object
 1   AEP_MW    121273 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB
None
----------------------
              Datetime  COMED_MW
0  2011-12-31 01:00:00    9970.0
1  2011-12-31 02:00:00    9428.0
2  2011-12-31 03:00:00    9059.0
3  2011-12-31 04:00:00    8817.0
4  2011-12-31 05:00:00    8743.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66497 entries, 0 to 66496
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  66497 non-null  object
 1   COMED_MW  66497 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
----------------------
              Datetime  DAYTON_MW
0  2004-12-31 01:00:00     1596.0
1  2004-12-31 02:00:00     1517.0
2  2004-12-31 03:00:00     1486.0
3  2004-12-31 04:00:00     1469.0
4  2004-12-31 05:00:00     1472.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121275 entries, 0 to 121274
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Datetime   121275 non-null  object
 1   DAYTON_MW  121275 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB
None
----------------------
              Datetime  DEOK_MW
0  2012-12-31 01:00:00   2945.0
1  2012-12-31 02:00:00   2868.0
2  2012-12-31 03:00:00   2812.0
3  2012-12-31 04:00:00   2812.0
4  2012-12-31 05:00:00   2860.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57739 entries, 0 to 57738
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  57739 non-null  object
 1   DEOK_MW   57739 non-null  float64
dtypes: float64(1), object(1)
memory usage: 902.3+ KB
None
----------------------
              Datetime  DOM_MW
0  2005-12-31 01:00:00  9389.0
1  2005-12-31 02:00:00  9070.0
2  2005-12-31 03:00:00  9001.0
3  2005-12-31 04:00:00  9042.0
4  2005-12-31 05:00:00  9132.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116189 entries, 0 to 116188
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  116189 non-null  object
 1   DOM_MW    116189 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.8+ MB
None
----------------------
              Datetime  DUQ_MW
0  2005-12-31 01:00:00  1458.0
1  2005-12-31 02:00:00  1377.0
2  2005-12-31 03:00:00  1351.0
3  2005-12-31 04:00:00  1336.0
4  2005-12-31 05:00:00  1356.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119068 entries, 0 to 119067
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  119068 non-null  object
 1   DUQ_MW    119068 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.8+ MB
None
----------------------
              Datetime  EKPC_MW
0  2013-12-31 01:00:00   1861.0
1  2013-12-31 02:00:00   1835.0
2  2013-12-31 03:00:00   1841.0
3  2013-12-31 04:00:00   1872.0
4  2013-12-31 05:00:00   1934.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45334 entries, 0 to 45333
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  45334 non-null  object
 1   EKPC_MW   45334 non-null  float64
dtypes: float64(1), object(1)
memory usage: 708.5+ KB
None
----------------------
              Datetime   FE_MW
0  2011-12-31 01:00:00  6222.0
1  2011-12-31 02:00:00  5973.0
2  2011-12-31 03:00:00  5778.0
3  2011-12-31 04:00:00  5707.0
4  2011-12-31 05:00:00  5691.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62874 entries, 0 to 62873
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  62874 non-null  object
 1   FE_MW     62874 non-null  float64
dtypes: float64(1), object(1)
memory usage: 982.5+ KB
None
----------------------
              Datetime   NI_MW
0  2004-12-31 01:00:00  9810.0
1  2004-12-31 02:00:00  9001.0
2  2004-12-31 03:00:00  8509.0
3  2004-12-31 04:00:00  8278.0
4  2004-12-31 05:00:00  8089.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58450 entries, 0 to 58449
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  58450 non-null  object
 1   NI_MW     58450 non-null  float64
dtypes: float64(1), object(1)
memory usage: 913.4+ KB
None
----------------------
              Datetime  PJME_MW
0  2002-12-31 01:00:00  26498.0
1  2002-12-31 02:00:00  25147.0
2  2002-12-31 03:00:00  24574.0
3  2002-12-31 04:00:00  24393.0
4  2002-12-31 05:00:00  24860.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145366 entries, 0 to 145365
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  145366 non-null  object
 1   PJME_MW   145366 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.2+ MB
None
----------------------
              Datetime  PJMW_MW
0  2002-12-31 01:00:00   5077.0
1  2002-12-31 02:00:00   4939.0
2  2002-12-31 03:00:00   4885.0
3  2002-12-31 04:00:00   4857.0
4  2002-12-31 05:00:00   4930.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143206 entries, 0 to 143205
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  143206 non-null  object
 1   PJMW_MW   143206 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.2+ MB
None
----------------------
              Datetime  PJM_Load_MW
0  1998-12-31 01:00:00      29309.0
1  1998-12-31 02:00:00      28236.0
2  1998-12-31 03:00:00      27692.0
3  1998-12-31 04:00:00      27596.0
4  1998-12-31 05:00:00      27888.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32896 entries, 0 to 32895
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datetime     32896 non-null  object
 1   PJM_Load_MW  32896 non-null  float64
dtypes: float64(1), object(1)
memory usage: 514.1+ KB
None
----------------------

In [5]:
datapath = Path('../data/d02_intermediate')
df0 = None

for i in range(len(dataframes)):
    locals()[f"df{i+1}"]["Datetime"] = pd.to_datetime(locals()[f"df{i+1}"]["Datetime"])

    if not locals()[f"df{i+1}"]["Datetime"].is_monotonic_increasing:
        locals()[f"df{i+1}"].sort_values(by="Datetime", inplace=True)
        #locals()[f"df{i+1}"].to_csv(f'{datapath}/{[f"df{i+1}"]}.csv', index=False)

In [6]:
all_df = pd.merge_asof(df1, df2, on="Datetime")
for i in range(3, 12):
    all_df = pd.merge_asof(all_df, locals()[f"df{i+1}"], on="Datetime" )

In [7]:
all_df.head()

,Datetime,AEP_MW,COMED_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,PJME_MW,PJMW_MW,PJM_Load_MW
0,2004-10-01 01:00:00,12379.0,NaN,NaN,NaN,NaN,NaN,NaN,9305.0,24025.0,4628.0,31569.0
1,2004-10-01 02:00:00,11935.0,NaN,NaN,NaN,NaN,NaN,NaN,8681.0,22845.0,4520.0,31569.0
2,2004-10-01 03:00:00,11692.0,NaN,NaN,NaN,NaN,NaN,NaN,8314.0,22138.0,4431.0,31569.0
3,2004-10-01 04:00:00,11597.0,NaN,NaN,NaN,NaN,NaN,NaN,8094.0,21922.0,4383.0,31569.0
4,2004-10-01 05:00:00,11681.0,NaN,NaN,NaN,NaN,NaN,NaN,8041.0,22193.0,4460.0,31569.0

In [8]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121273 entries, 0 to 121272
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Datetime     121273 non-null  datetime64[ns]
 1   AEP_MW       121273 non-null  float64
 2   COMED_MW     66495 non-null   float64
 3   DEOK_MW      57737 non-null   float64
 4   DOM_MW       116187 non-null  float64
 5   DUQ_MW       119066 non-null  float64
 6   EKPC_MW      45333 non-null   float64
 7   FE_MW        62872 non-null   float64
 8   NI_MW        121273 non-null  float64
 9   PJME_MW      121273 non-null  float64
 10  PJMW_MW      121273 non-null  float64
 11  PJM_Load_MW  121273 non-null  float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 12.0 MB

obs. criar as seguintes features:
- cada linha compondo qual lugar que é (para o modelo identificar a classe que pertence) senão cada coluna será interpretada como uma feature correlata
- criar features identificando se é inverno ou verão
- criar features dos horários, e relacionado aos dias (trends)