# PJM Hourly Energy Consumption Case

PJM Interconnection LLC (PJM) is a regional transmission organization (RTO) in the United States. It is part of the Eastern Interconnection grid operating an electric transmission system serving all or parts of Delaware, Illinois, Indiana, Kentucky, Maryland, Michigan, New Jersey, North Carolina, Ohio, Pennsylvania, Tennessee, Virginia, West Virginia, and the District of Columbia.

The hourly power consumption data comes from PJM's website and are in megawatts (MW).

### Feature Engineering Step - By Sabrina Otoni da Silva - 2024/04

In [2]:
from pathlib import Path
import pandas as pd

In [3]:
datapath = Path('../data/d02_intermediate')

In [4]:
df = pd.read_csv(f'{datapath}/pjme_n01.csv')
df = df.set_index('datetime')
df.index = pd.to_datetime(df.index)
df = df.sort_index()

In [5]:
df['hour'] = df.index.hour
df['dayofweek'] = df.index.dayofweek
df['quarter'] = df.index.quarter
df['month'] = df.index.month
df['year'] = df.index.year
df['dayofyear'] = df.index.dayofyear
df['day'] = df.index.day
df['weekofyear'] = df.index.isocalendar().week

In [6]:
df.tail()

,pjme_mw,hour,dayofweek,quarter,month,year,dayofyear,day,weekofyear
datetime,,,,,,,,,
2018-08-02 20:00:00,44057,20,3,3,8,2018,214,2,31
2018-08-02 21:00:00,43256,21,3,3,8,2018,214,2,31
2018-08-02 22:00:00,41552,22,3,3,8,2018,214,2,31
2018-08-02 23:00:00,38500,23,3,3,8,2018,214,2,31
2018-08-03 00:00:00,35486,0,4,3,8,2018,215,3,31

In [7]:
target_map = df['pjme_mw'].to_dict()
target_map

{Timestamp('2002-01-01 01:00:00'): 30393,
 Timestamp('2002-01-01 02:00:00'): 29265,
 Timestamp('2002-01-01 03:00:00'): 28357,
 Timestamp('2002-01-01 04:00:00'): 27899,
 Timestamp('2002-01-01 05:00:00'): 28057,
 Timestamp('2002-01-01 06:00:00'): 28654,
 Timestamp('2002-01-01 07:00:00'): 29308,
 Timestamp('2002-01-01 08:00:00'): 29595,
 Timestamp('2002-01-01 09:00:00'): 29943,
 Timestamp('2002-01-01 10:00:00'): 30692,
 Timestamp('2002-01-01 11:00:00'): 31395,
 Timestamp('2002-01-01 12:00:00'): 31496,
 Timestamp('2002-01-01 13:00:00'): 31031,
 Timestamp('2002-01-01 14:00:00'): 30360,
 Timestamp('2002-01-01 15:00:00'): 29798,
 Timestamp('2002-01-01 16:00:00'): 29720,
 Timestamp('2002-01-01 17:00:00'): 31271,
 Timestamp('2002-01-01 18:00:00'): 35103,
 Timestamp('2002-01-01 19:00:00'): 35732,
 Timestamp('2002-01-01 20:00:00'): 35639,
 Timestamp('2002-01-01 21:00:00'): 35285,
 Timestamp('2002-01-01 22:00:00'): 34007,
 Timestamp('2002-01-01 23:00:00'): 31857,
 Timestamp('2002-01-02 00:00:00'): 29563,
 Timestamp('2002-01-02 01:00:00'): 28121,
 Timestamp('2002-01-02 02:00:00'): 27437,
 Timestamp('2002-01-02 03:00:00'): 27301,
 Timestamp('2002-01-02 04:00:00'): 27533,
 Timestamp('2002-01-02 05:00:00'): 28405,
 Timestamp('2002-01-02 06:00:00'): 30748,
 Timestamp('2002-01-02 07:00:00'): 34725,
 Timestamp('2002-01-02 08:00:00'): 37313,
 Timestamp('2002-01-02 09:00:00'): 37322,
 Timestamp('2002-01-02 10:00:00'): 37035,
 Timestamp('2002-01-02 11:00:00'): 36758,
 Timestamp('2002-01-02 12:00:00'): 36284,
 Timestamp('2002-01-02 13:00:00'): 35548,
 Timestamp('2002-01-02 14:00:00'): 34978,
 Timestamp('2002-01-02 15:00:00'): 34304,
 Timestamp('2002-01-02 16:00:00'): 34169,
 Timestamp('2002-01-02 17:00:00'): 35674,
 Timestamp('2002-01-02 18:00:00'): 39532,
 Timestamp('2002-01-02 19:00:00'): 40002,
 Timestamp('2002-01-02 20:00:00'): 39484,
 Timestamp('2002-01-02 21:00:00'): 38693,
 Timestamp('2002-01-02 22:00:00'): 37016,
 Timestamp('2002-01-02 23:00:00'): 34332,
 Timestamp('2002-01-03 00:00:00'): 31451,
 Timestamp('2002-01-03 01:00:00'): 29414,
 Timestamp('2002-01-03 02:00:00'): 28537,
 Timestamp('2002-01-03 03:00:00'): 28118,
 Timestamp('2002-01-03 04:00:00'): 28106,
 Timestamp('2002-01-03 05:00:00'): 28650,
 Timestamp('2002-01-03 06:00:00'): 30687,
 Timestamp('2002-01-03 07:00:00'): 34696,
 Timestamp('2002-01-03 08:00:00'): 37196,
 Timestamp('2002-01-03 09:00:00'): 37436,
 Timestamp('2002-01-03 10:00:00'): 37323,
 Timestamp('2002-01-03 11:00:00'): 37198,
 Timestamp('2002-01-03 12:00:00'): 36548,
 Timestamp('2002-01-03 13:00:00'): 36024,
 Timestamp('2002-01-03 14:00:00'): 35186,
 Timestamp('2002-01-03 15:00:00'): 34478,
 Timestamp('2002-01-03 16:00:00'): 34497,
 Timestamp('2002-01-03 17:00:00'): 35807,
 Timestamp('2002-01-03 18:00:00'): 39261,
 Timestamp('2002-01-03 19:00:00'): 39662,
 Timestamp('2002-01-03 20:00:00'): 39177,
 Timestamp('2002-01-03 21:00:00'): 38328,
 Timestamp('2002-01-03 22:00:00'): 36636,
 Timestamp('2002-01-03 23:00:00'): 33869,
 Timestamp('2002-01-04 00:00:00'): 31038,
 Timestamp('2002-01-04 01:00:00'): 29338,
 Timestamp('2002-01-04 02:00:00'): 28421,
 Timestamp('2002-01-04 03:00:00'): 28145,
 Timestamp('2002-01-04 04:00:00'): 28122,
 Timestamp('2002-01-04 05:00:00'): 28637,
 Timestamp('2002-01-04 06:00:00'): 30540,
 Timestamp('2002-01-04 07:00:00'): 34579,
 Timestamp('2002-01-04 08:00:00'): 36958,
 Timestamp('2002-01-04 09:00:00'): 36721,
 Timestamp('2002-01-04 10:00:00'): 36318,
 Timestamp('2002-01-04 11:00:00'): 35809,
 Timestamp('2002-01-04 12:00:00'): 35333,
 Timestamp('2002-01-04 13:00:00'): 34639,
 Timestamp('2002-01-04 14:00:00'): 34237,
 Timestamp('2002-01-04 15:00:00'): 33577,
 Timestamp('2002-01-04 16:00:00'): 33352,
 Timestamp('2002-01-04 17:00:00'): 34563,
 Timestamp('2002-01-04 18:00:00'): 37710,
 Timestamp('2002-01-04 19:00:00'): 38263,
 Timestamp('2002-01-04 20:00:00'): 37539,
 Timestamp('2002-01-04 21:00:00'): 36762,
 Timestamp('2002-01-04 22:00:00'): 35368,
 Timestamp('2002-01-04 23:00:00'): 33202,
 Timestamp('2002-01-05 00:00:00'): 30924,
 Timestamp('2002-01-05 01:00:00'): 28635,
 Timestamp('2002-01-05 02:00:00'): 27501,
 Timestamp('2002-01-05 03:00:00'): 27034,
 Timestamp('2002-01-05 04:00:00'): 26669,
 Timestamp('2002-01-05 05:00:00'): 26822,
 Timestamp('2002-01-05 06:00:00'): 27399,
 Timestamp('2002-01-05 07:00:00'): 28557,
 Timestamp('2002-01-05 08:00:00'): 29709,
 Timestamp('2002-01-05 09:00:00'): 31241,
 Timestamp('2002-01-05 10:00:00'): 32375,
 Timestamp('2002-01-05 11:00:00'): 32490,
 Timestamp('2002-01-05 12:00:00'): 31933,
 Timestamp('2002-01-05 13:00:00'): 31099,
 Timestamp('2002-01-05 14:00:00'): 30399,
 Timestamp('2002-01-05 15:00:00'): 29551,
 Timestamp('2002-01-05 16:00:00'): 29299,
 Timestamp('2002-01-05 17:00:00'): 30729,
 Timestamp('2002-01-05 18:00:00'): 33846,
 Timestamp('2002-01-05 19:00:00'): 34092,
 Timestamp('2002-01-05 20:00:00'): 33684,
 Timestamp('2002-01-05 21:00:00'): 33033,
 Timestamp('2002-01-05 22:00:00'): 32022,
 Timestamp('2002-01-05 23:00:00'): 30680,
 Timestamp('2002-01-06 00:00:00'): 29011,
 Timestamp('2002-01-06 01:00:00'): 27100,
 Timestamp('2002-01-06 02:00:00'): 26097,
 Timestamp('2002-01-06 03:00:00'): 25793,
 Timestamp('2002-01-06 04:00:00'): 25657,
 Timestamp('2002-01-06 05:00:00'): 25778,
 Timestamp('2002-01-06 06:00:00'): 26396,
 Timestamp('2002-01-06 07:00:00'): 27143,
 Timestamp('2002-01-06 08:00:00'): 28059,
 Timestamp('2002-01-06 09:00:00'): 29379,
 Timestamp('2002-01-06 10:00:00'): 30744,
 Timestamp('2002-01-06 11:00:00'): 31051,
 Timestamp('2002-01-06 12:00:00'): 31040,
 Timestamp('2002-01-06 13:00:00'): 31139,
 Timestamp('2002-01-06 14:00:00'): 31233,
 Timestamp('2002-01-06 15:00:00'): 31375,
 Timestamp('2002-01-06 16:00:00'): 32003,
 Timestamp('2002-01-06 17:00:00'): 33899,
 Timestamp('2002-01-06 18:00:00'): 35900,
 Timestamp('2002-01-06 19:00:00'): 35971,
 Timestamp('2002-01-06 20:00:00'): 35306,
 Timestamp('2002-01-06 21:00:00'): 34315,
 Timestamp('2002-01-06 22:00:00'): 32731,
 Timestamp('2002-01-06 23:00:00'): 30646,
 Timestamp('2002-01-07 00:00:00'): 28337,
 Timestamp('2002-01-07 01:00:00'): 26862,
 Timestamp('2002-01-07 02:00:00'): 25976,
 Timestamp('2002-01-07 03:00:00'): 25641,
 Timestamp('2002-01-07 04:00:00'): 25666,
 Timestamp('2002-01-07 05:00:00'): 26328,
 Timestamp('2002-01-07 06:00:00'): 28267,
 Timestamp('2002-01-07 07:00:00'): 31938,
 Timestamp('2002-01-07 08:00:00'): 34678,
 Timestamp('2002-01-07 09:00:00'): 35349,
 Timestamp('2002-01-07 10:00:00'): 35542,
 Timestamp('2002-01-07 11:00:00'): 35857,
 Timestamp('2002-01-07 12:00:00'): 35787,
 Timestamp('2002-01-07 13:00:00'): 35790,
 Timestamp('2002-01-07 14:00:00'): 35594,
 Timestamp('2002-01-07 15:00:00'): 35527,
 Timestamp('2002-01-07 16:00:00'): 35489,
 Timestamp('2002-01-07 17:00:00'): 36530,
 Timestamp('2002-01-07 18:00:00'): 39140,
 Timestamp('2002-01-07 19:00:00'): 39581,
 Timestamp('2002-01-07 20:00:00'): 38780,
 Timestamp('2002-01-07 21:00:00'): 37777,
 Timestamp('2002-01-07 22:00:00'): 35997,
 Timestamp('2002-01-07 23:00:00'): 33579,
 Timestamp('2002-01-08 00:00:00'): 31187,
 Timestamp('2002-01-08 01:00:00'): 29445,
 Timestamp('2002-01-08 02:00:00'): 28670,
 Timestamp('2002-01-08 03:00:00'): 28375,
 Timestamp('2002-01-08 04:00:00'): 28542,
 Timestamp('2002-01-08 05:00:00'): 29261,
 Timestamp('2002-01-08 06:00:00'): 31348,
 Timestamp('2002-01-08 07:00:00'): 35335,
 Timestamp('2002-01-08 08:00:00'): 37841,
 Timestamp('2002-01-08 09:00:00'): 37417,
 Timestamp('2002-01-08 10:00:00'): 36824,
 Timestamp('2002-01-08 11:00:00'): 36504,
 Timestamp('2002-01-08 12:00:00'): 35741,
 Timestamp('2002-01-08 13:00:00'): 35158,
 Timestamp('2002-01-08 14:00:00'): 34591,
 Timestamp('2002-01-08 15:00:00'): 34078,
 Timestamp('2002-01-08 16:00:00'): 34006,
 Timestamp('2002-01-08 17:00:00'): 35270,
 Timestamp('2002-01-08 18:00:00'): 38779,
 Timestamp('2002-01-08 19:00:00'): 39450,
 Timestamp('2002-01-08 20:00:00'): 38898,
 Timestamp('2002-01-08 21:00:00'): 38178,
 Timestamp('2002-01-08 22:00:00'): 36282,
 Timestamp('2002-01-08 23:00:00'): 33530,
 Timestamp('2002-01-09 00:00:00'): 30943,
 Timestamp('2002-01-09 01:00:00'): 29082,
 Timestamp('2002-01-09 02:00:00'): 28154,
 Timestamp('2002-01-09 03:00:00'): 27829,
 Timestamp('2002-01-09 04:00:00'): 27759,
 Timestamp('2002-01-09 05:00:00'): 28308,
 Timestamp('2002-01-09 06:00:00'): 30169,
 Timestamp('2002-01-09 07:00:00'): 34261,
 Timestamp('2002-01-09 08:00:00'): 36714,
 Timestamp('2002-01-09 09:00:00'): 36494,
 Timestamp('2002-01-09 10:00:00'): 36417,
 Timestamp('2002-01-09 11:00:00'): 36529,
 Timestamp('2002-01-09 12:00:00'): 36181,
 Timestamp('2002-01-09 13:00:00'): 35698,
 Timestamp('2002-01-09 14:00:00'): 35342,
 Timestamp('2002-01-09 15:00:00'): 34750,
 Timestamp('2002-01-09 16:00:00'): 34709,
 Timestamp('2002-01-09 17:00:00'): 35477,
 Timestamp('2002-01-09 18:00:00'): 37984,
 Timestamp('2002-01-09 19:00:00'): 38111,
 Timestamp('2002-01-09 20:00:00'): 37316,
 Timestamp('2002-01-09 21:00:00'): 36319,
 Timestamp('2002-01-09 22:00:00'): 34456,
 Timestamp('2002-01-09 23:00:00'): 31626,
 Timestamp('2002-01-10 00:00:00'): 29096,
 Timestamp('2002-01-10 01:00:00'): 27144,
 Timestamp('2002-01-10 02:00:00'): 26163,
 Timestamp('2002-01-10 03:00:00'): 25752,
 Timestamp('2002-01-10 04:00:00'): 25629,
 Timestamp('2002-01-10 05:00:00'): 26257,
 Timestamp('2002-01-10 06:00:00'): 28350,
 Timestamp('2002-01-10 07:00:00'): 32472,
 Timestamp('2002-01-10 08:00:00'): 34791,
 Timestamp('2002-01-10 09:00:00'): 34403,
 Timestamp('2002-01-10 10:00:00'): 33905,
 Timestamp('2002-01-10 11:00:00'): 33416,
 Timestamp('2002-01-10 12:00:00'): 32986,
 Timestamp('2002-01-10 13:00:00'): 32499,
 Timestamp('2002-01-10 14:00:00'): 32380,
 Timestamp('2002-01-10 15:00:00'): 31904,
 Timestamp('2002-01-10 16:00:00'): 31866,
 Timestamp('2002-01-10 17:00:00'): 32910,
 Timestamp('2002-01-10 18:00:00'): 35702,
 Timestamp('2002-01-10 19:00:00'): 35895,
 Timestamp('2002-01-10 20:00:00'): 35194,
 Timestamp('2002-01-10 21:00:00'): 34259,
 Timestamp('2002-01-10 22:00:00'): 32431,
 Timestamp('2002-01-10 23:00:00'): 29913,
 Timestamp('2002-01-11 00:00:00'): 27252,
 Timestamp('2002-01-11 01:00:00'): 25364,
 Timestamp('2002-01-11 02:00:00'): 24433,
 Timestamp('2002-01-11 03:00:00'): 23966,
 Timestamp('2002-01-11 04:00:00'): 23928,
 Timestamp('2002-01-11 05:00:00'): 24559,
 Timestamp('2002-01-11 06:00:00'): 26612,
 Timestamp('2002-01-11 07:00:00'): 30639,
 Timestamp('2002-01-11 08:00:00'): 33601,
 Timestamp('2002-01-11 09:00:00'): 33849,
 Timestamp('2002-01-11 10:00:00'): 34012,
 Timestamp('2002-01-11 11:00:00'): 34179,
 Timestamp('2002-01-11 12:00:00'): 33877,
 Timestamp('2002-01-11 13:00:00'): 33177,
 Timestamp('2002-01-11 14:00:00'): 32816,
 Timestamp('2002-01-11 15:00:00'): 32450,
 Timestamp('2002-01-11 16:00:00'): 32264,
 Timestamp('2002-01-11 17:00:00'): 33284,
 Timestamp('2002-01-11 18:00:00'): 35631,
 Timestamp('2002-01-11 19:00:00'): 35672,
 Timestamp('2002-01-11 20:00:00'): 34829,
 Timestamp('2002-01-11 21:00:00'): 33588,
 Timestamp('2002-01-11 22:00:00'): 32373,
 Timestamp('2002-01-11 23:00:00'): 30386,
 Timestamp('2002-01-12 00:00:00'): 28222,
 Timestamp('2002-01-12 01:00:00'): 26248,
 Timestamp('2002-01-12 02:00:00'): 25198,
 Timestamp('2002-01-12 03:00:00'): 24791,
 Timestamp('2002-01-12 04:00:00'): 24665,
 Timestamp('2002-01-12 05:00:00'): 24887,
 Timestamp('2002-01-12 06:00:00'): 25701,
 Timestamp('2002-01-12 07:00:00'): 27096,
 Timestamp('2002-01-12 08:00:00'): 28437,
 Timestamp('2002-01-12 09:00:00'): 29891,
 Timestamp('2002-01-12 10:00:00'): 30623,
 Timestamp('2002-01-12 11:00:00'): 30641,
 Timestamp('2002-01-12 12:00:00'): 30059,
 Timestamp('2002-01-12 13:00:00'): 29210,
 Timestamp('2002-01-12 14:00:00'): 28395,
 Timestamp('2002-01-12 15:00:00'): 27712,
 Timestamp('2002-01-12 16:00:00'): 27446,
 Timestamp('2002-01-12 17:00:00'): 28518,
 Timestamp('2002-01-12 18:00:00'): 31548,
 Timestamp('2002-01-12 19:00:00'): 32283,
 Timestamp('2002-01-12 20:00:00'): 31762,
 Timestamp('2002-01-12 21:00:00'): 31097,
 Timestamp('2002-01-12 22:00:00'): 30135,
 Timestamp('2002-01-12 23:00:00'): 28640,
 Timestamp('2002-01-13 00:00:00'): 26803,
 Timestamp('2002-01-13 01:00:00'): 25052,
 Timestamp('2002-01-13 02:00:00'): 24007,
 Timestamp('2002-01-13 03:00:00'): 23441,
 Timestamp('2002-01-13 04:00:00'): 23129,
 Timestamp('2002-01-13 05:00:00'): 23244,
 Timestamp('2002-01-13 06:00:00'): 23700,
 Timestamp('2002-01-13 07:00:00'): 24737,
 Timestamp('2002-01-13 08:00:00'): 25970,
 Timestamp('2002-01-13 09:00:00'): 27369,
 Timestamp('2002-01-13 10:00:00'): 28455,
 Timestamp('2002-01-13 11:00:00'): 28982,
 Timestamp('2002-01-13 12:00:00'): 29257,
 Timestamp('2002-01-13 13:00:00'): 29364,
 Timestamp('2002-01-13 14:00:00'): 29036,
 Timestamp('2002-01-13 15:00:00'): 28702,
 Timestamp('2002-01-13 16:00:00'): 28615,
 Timestamp('2002-01-13 17:00:00'): 29730,
 Timestamp('2002-01-13 18:00:00'): 32721,
 Timestamp('2002-01-13 19:00:00'): 33627,
 Timestamp('2002-01-13 20:00:00'): 33337,
 Timestamp('2002-01-13 21:00:00'): 32851,
 Timestamp('2002-01-13 22:00:00'): 31594,
 Timestamp('2002-01-13 23:00:00'): 29545,
 Timestamp('2002-01-14 00:00:00'): 27659,
 Timestamp('2002-01-14 01:00:00'): 26059,
 Timestamp('2002-01-14 02:00:00'): 25487,
 Timestamp('2002-01-14 03:00:00'): 25363,
 Timestamp('2002-01-14 04:00:00'): 25436,
 Timestamp('2002-01-14 05:00:00'): 26117,
 Timestamp('2002-01-14 06:00:00'): 28402,
 Timestamp('2002-01-14 07:00:00'): 32754,
 Timestamp('2002-01-14 08:00:00'): 35194,
 Timestamp('2002-01-14 09:00:00'): 34939,
 Timestamp('2002-01-14 10:00:00'): 34515,
 Timestamp('2002-01-14 11:00:00'): 34062,
 Timestamp('2002-01-14 12:00:00'): 33461,
 Timestamp('2002-01-14 13:00:00'): 32880,
 Timestamp('2002-01-14 14:00:00'): 32531,
 Timestamp('2002-01-14 15:00:00'): 31982,
 Timestamp('2002-01-14 16:00:00'): 32184,
 Timestamp('2002-01-14 17:00:00'): 33544,
 Timestamp('2002-01-14 18:00:00'): 36206,
 Timestamp('2002-01-14 19:00:00'): 36504,
 Timestamp('2002-01-14 20:00:00'): 35782,
 Timestamp('2002-01-14 21:00:00'): 34665,
 Timestamp('2002-01-14 22:00:00'): 32740,
 Timestamp('2002-01-14 23:00:00'): 30005,
 Timestamp('2002-01-15 00:00:00'): 27483,
 Timestamp('2002-01-15 01:00:00'): 25643,
 Timestamp('2002-01-15 02:00:00'): 24967,
 Timestamp('2002-01-15 03:00:00'): 24715,
 Timestamp('2002-01-15 04:00:00'): 24826,
 Timestamp('2002-01-15 05:00:00'): 25630,
 Timestamp('2002-01-15 06:00:00'): 27870,
 Timestamp('2002-01-15 07:00:00'): 32057,
 Timestamp('2002-01-15 08:00:00'): 34375,
 Timestamp('2002-01-15 09:00:00'): 34143,
 Timestamp('2002-01-15 10:00:00'): 33509,
 Timestamp('2002-01-15 11:00:00'): 33178,
 Timestamp('2002-01-15 12:00:00'): 32828,
 Timestamp('2002-01-15 13:00:00'): 32421,
 Timestamp('2002-01-15 14:00:00'): 32278,
 Timestamp('2002-01-15 15:00:00'): 31970,
 Timestamp('2002-01-15 16:00:00'): 31927,
 Timestamp('2002-01-15 17:00:00'): 32905,
 Timestamp('2002-01-15 18:00:00'): 35730,
 Timestamp('2002-01-15 19:00:00'): 36282,
 Timestamp('2002-01-15 20:00:00'): 35694,
 Timestamp('2002-01-15 21:00:00'): 34953,
 Timestamp('2002-01-15 22:00:00'): 33278,
 Timestamp('2002-01-15 23:00:00'): 30709,
 Timestamp('2002-01-16 00:00:00'): 28211,
 Timestamp('2002-01-16 01:00:00'): 26530,
 Timestamp('2002-01-16 02:00:00'): 25750,
 Timestamp('2002-01-16 03:00:00'): 25472,
 Timestamp('2002-01-16 04:00:00'): 25460,
 Timestamp('2002-01-16 05:00:00'): 26174,
 Timestamp('2002-01-16 06:00:00'): 28361,
 Timestamp('2002-01-16 07:00:00'): 32443,
 Timestamp('2002-01-16 08:00:00'): 34902,
 Timestamp('2002-01-16 09:00:00'): 34752,
 Timestamp('2002-01-16 10:00:00'): 34341,
 Timestamp('2002-01-16 11:00:00'): 34223,
 Timestamp('2002-01-16 12:00:00'): 33875,
 Timestamp('2002-01-16 13:00:00'): 33488,
 Timestamp('2002-01-16 14:00:00'): 33227,
 Timestamp('2002-01-16 15:00:00'): 32699,
 Timestamp('2002-01-16 16:00:00'): 32573,
 Timestamp('2002-01-16 17:00:00'): 33817,
 Timestamp('2002-01-16 18:00:00'): 36666,
 Timestamp('2002-01-16 19:00:00'): 37302,
 Timestamp('2002-01-16 20:00:00'): 36697,
 Timestamp('2002-01-16 21:00:00'): 35832,
 Timestamp('2002-01-16 22:00:00'): 34082,
 Timestamp('2002-01-16 23:00:00'): 31357,
 Timestamp('2002-01-17 00:00:00'): 28849,
 Timestamp('2002-01-17 01:00:00'): 26984,
 Timestamp('2002-01-17 02:00:00'): 26135,
 Timestamp('2002-01-17 03:00:00'): 25601,
 Timestamp('2002-01-17 04:00:00'): 25708,
 Timestamp('2002-01-17 05:00:00'): 26130,
 Timestamp('2002-01-17 06:00:00'): 28123,
 Timestamp('2002-01-17 07:00:00'): 32359,
 Timestamp('2002-01-17 08:00:00'): 34860,
 Timestamp('2002-01-17 09:00:00'): 34703,
 Timestamp('2002-01-17 10:00:00'): 34638,
 Timestamp('2002-01-17 11:00:00'): 34115,
 Timestamp('2002-01-17 12:00:00'): 33835,
 Timestamp('2002-01-17 13:00:00'): 33368,
 Timestamp('2002-01-17 14:00:00'): 33152,
 Timestamp('2002-01-17 15:00:00'): 32662,
 Timestamp('2002-01-17 16:00:00'): 32300,
 Timestamp('2002-01-17 17:00:00'): 33198,
 Timestamp('2002-01-17 18:00:00'): 35910,
 Timestamp('2002-01-17 19:00:00'): 36509,
 Timestamp('2002-01-17 20:00:00'): 36033,
 Timestamp('2002-01-17 21:00:00'): 35209,
 Timestamp('2002-01-17 22:00:00'): 33595,
 Timestamp('2002-01-17 23:00:00'): 31175,
 Timestamp('2002-01-18 00:00:00'): 28634,
 Timestamp('2002-01-18 01:00:00'): 26991,
 Timestamp('2002-01-18 02:00:00'): 26036,
 Timestamp('2002-01-18 03:00:00'): 25787,
 Timestamp('2002-01-18 04:00:00'): 25692,
 Timestamp('2002-01-18 05:00:00'): 26353,
 Timestamp('2002-01-18 06:00:00'): 28479,
 Timestamp('2002-01-18 07:00:00'): 32477,
 Timestamp('2002-01-18 08:00:00'): 35145,
 Timestamp('2002-01-18 09:00:00'): 35117,
 Timestamp('2002-01-18 10:00:00'): 34911,
 Timestamp('2002-01-18 11:00:00'): 34741,
 Timestamp('2002-01-18 12:00:00'): 34277,
 Timestamp('2002-01-18 13:00:00'): 33600,
 Timestamp('2002-01-18 14:00:00'): 33269,
 Timestamp('2002-01-18 15:00:00'): 32774,
 Timestamp('2002-01-18 16:00:00'): 32506,
 Timestamp('2002-01-18 17:00:00'): 33203,
 Timestamp('2002-01-18 18:00:00'): 35883,
 Timestamp('2002-01-18 19:00:00'): 36530,
 Timestamp('2002-01-18 20:00:00'): 35805,
 Timestamp('2002-01-18 21:00:00'): 35076,
 Timestamp('2002-01-18 22:00:00'): 33741,
 Timestamp('2002-01-18 23:00:00'): 32008,
 Timestamp('2002-01-19 00:00:00'): 30189,
 Timestamp('2002-01-19 01:00:00'): 28412,
 Timestamp('2002-01-19 02:00:00'): 27385,
 Timestamp('2002-01-19 03:00:00'): 26944,
 Timestamp('2002-01-19 04:00:00'): 26832,
 Timestamp('2002-01-19 05:00:00'): 26937,
 Timestamp('2002-01-19 06:00:00'): 27499,
 Timestamp('2002-01-19 07:00:00'): 28673,
 Timestamp('2002-01-19 08:00:00'): 30199,
 Timestamp('2002-01-19 09:00:00'): 31999,
 Timestamp('2002-01-19 10:00:00'): 33554,
 Timestamp('2002-01-19 11:00:00'): 34453,
 Timestamp('2002-01-19 12:00:00'): 34518,
 Timestamp('2002-01-19 13:00:00'): 34413,
 Timestamp('2002-01-19 14:00:00'): 34207,
 Timestamp('2002-01-19 15:00:00'): 33729,
 Timestamp('2002-01-19 16:00:00'): 34078,
 Timestamp('2002-01-19 17:00:00'): 34640,
 Timestamp('2002-01-19 18:00:00'): 36555,
 Timestamp('2002-01-19 19:00:00'): 36438,
 Timestamp('2002-01-19 20:00:00'): 35458,
 Timestamp('2002-01-19 21:00:00'): 34569,
 Timestamp('2002-01-19 22:00:00'): 32986,
 Timestamp('2002-01-19 23:00:00'): 31565,
 Timestamp('2002-01-20 00:00:00'): 29587,
 Timestamp('2002-01-20 01:00:00'): 27980,
 Timestamp('2002-01-20 02:00:00'): 26895,
 Timestamp('2002-01-20 03:00:00'): 26380,
 Timestamp('2002-01-20 04:00:00'): 26223,
 Timestamp('2002-01-20 05:00:00'): 26245,
 Timestamp('2002-01-20 06:00:00'): 26755,
 Timestamp('2002-01-20 07:00:00'): 27834,
 Timestamp('2002-01-20 08:00:00'): 28691,
 Timestamp('2002-01-20 09:00:00'): 29851,
 Timestamp('2002-01-20 10:00:00'): 30324,
 Timestamp('2002-01-20 11:00:00'): 30367,
 Timestamp('2002-01-20 12:00:00'): 30179,
 Timestamp('2002-01-20 13:00:00'): 29707,
 Timestamp('2002-01-20 14:00:00'): 28996,
 Timestamp('2002-01-20 15:00:00'): 28447,
 Timestamp('2002-01-20 16:00:00'): 28269,
 Timestamp('2002-01-20 17:00:00'): 29677,
 Timestamp('2002-01-20 18:00:00'): 32781,
 Timestamp('2002-01-20 19:00:00'): 33975,
 Timestamp('2002-01-20 20:00:00'): 33531,

In [7]:
df['lag1'] = (df.index - pd.Timedelta('364 days')).map(target_map)
df['lag2'] = (df.index - pd.Timedelta('728 days')).map(target_map)
df['lag3'] = (df.index - pd.Timedelta('1092 days')).map(target_map)

In [8]:
df.tail()

,pjme_mw,hour,dayofweek,quarter,month,year,dayofyear,day,weekofyear,lag1,lag2,lag3
datetime,,,,,,,,,,,,
2018-08-02 20:00:00,44057,20,3,3,8,2018,214,2,31,42256.0,41485.0,38804.0
2018-08-02 21:00:00,43256,21,3,3,8,2018,214,2,31,41210.0,40249.0,38748.0
2018-08-02 22:00:00,41552,22,3,3,8,2018,214,2,31,39525.0,38698.0,37330.0
2018-08-02 23:00:00,38500,23,3,3,8,2018,214,2,31,36490.0,35406.0,34552.0
2018-08-03 00:00:00,35486,0,4,3,8,2018,215,3,31,33539.0,32094.0,31695.0

In [9]:
df.to_csv(f'{datapath}/pjme_n03.csv')