# PJM Hourly Energy Consumption Case

PJM Interconnection LLC (PJM) is a regional transmission organization (RTO) in the United States. It is part of the Eastern Interconnection grid operating an electric transmission system serving all or parts of Delaware, Illinois, Indiana, Kentucky, Maryland, Michigan, New Jersey, North Carolina, Ohio, Pennsylvania, Tennessee, Virginia, West Virginia, and the District of Columbia.

The hourly power consumption data comes from PJM's website and are in megawatts (MW).

### Feature Engineering Step - By Sabrina Otoni da Silva - 2024/04

In [12]:
from pathlib import Path
import pandas as pd

In [13]:
datapath = Path('../data/d02_intermediate')

In [14]:
df = pd.read_csv(f'{datapath}/pjme_n01.csv')
df = df.set_index('datetime')
df.index = pd.to_datetime(df.index)
df = df.sort_index()

In [15]:
df['hour'] = df.index.hour
df['dayofweek'] = df.index.dayofweek
df['quarter'] = df.index.quarter
df['month'] = df.index.month
df['year'] = df.index.year
df['dayofyear'] = df.index.dayofyear
df['day'] = df.index.day
df['weekofyear'] = df.index.isocalendar().week

In [16]:
df.tail()

,pjme_mw,hour,dayofweek,quarter,month,year,dayofyear,day,weekofyear
datetime,,,,,,,,,
2018-08-02 20:00:00,44057.0,20,3,3,8,2018,214,2,31
2018-08-02 21:00:00,43256.0,21,3,3,8,2018,214,2,31
2018-08-02 22:00:00,41552.0,22,3,3,8,2018,214,2,31
2018-08-02 23:00:00,38500.0,23,3,3,8,2018,214,2,31
2018-08-03 00:00:00,35486.0,0,4,3,8,2018,215,3,31

In [17]:
target_map = df['pjme_mw'].to_dict()
target_map

{Timestamp('2002-01-01 01:00:00'): 30393.0,
 Timestamp('2002-01-01 02:00:00'): 29265.0,
 Timestamp('2002-01-01 03:00:00'): 28357.0,
 Timestamp('2002-01-01 04:00:00'): 27899.0,
 Timestamp('2002-01-01 05:00:00'): 28057.0,
 Timestamp('2002-01-01 06:00:00'): 28654.0,
 Timestamp('2002-01-01 07:00:00'): 29308.0,
 Timestamp('2002-01-01 08:00:00'): 29595.0,
 Timestamp('2002-01-01 09:00:00'): 29943.0,
 Timestamp('2002-01-01 10:00:00'): 30692.0,
 Timestamp('2002-01-01 11:00:00'): 31395.0,
 Timestamp('2002-01-01 12:00:00'): 31496.0,
 Timestamp('2002-01-01 13:00:00'): 31031.0,
 Timestamp('2002-01-01 14:00:00'): 30360.0,
 Timestamp('2002-01-01 15:00:00'): 29798.0,
 Timestamp('2002-01-01 16:00:00'): 29720.0,
 Timestamp('2002-01-01 17:00:00'): 31271.0,
 Timestamp('2002-01-01 18:00:00'): 35103.0,
 Timestamp('2002-01-01 19:00:00'): 35732.0,
 Timestamp('2002-01-01 20:00:00'): 35639.0,
 Timestamp('2002-01-01 21:00:00'): 35285.0,
 Timestamp('2002-01-01 22:00:00'): 34007.0,
 Timestamp('2002-01-01 23:00:00'): 31857.0,
 Timestamp('2002-01-02 00:00:00'): 29563.0,
 Timestamp('2002-01-02 01:00:00'): 28121.0,
 Timestamp('2002-01-02 02:00:00'): 27437.0,
 Timestamp('2002-01-02 03:00:00'): 27301.0,
 Timestamp('2002-01-02 04:00:00'): 27533.0,
 Timestamp('2002-01-02 05:00:00'): 28405.0,
 Timestamp('2002-01-02 06:00:00'): 30748.0,
 Timestamp('2002-01-02 07:00:00'): 34725.0,
 Timestamp('2002-01-02 08:00:00'): 37313.0,
 Timestamp('2002-01-02 09:00:00'): 37322.0,
 Timestamp('2002-01-02 10:00:00'): 37035.0,
 Timestamp('2002-01-02 11:00:00'): 36758.0,
 Timestamp('2002-01-02 12:00:00'): 36284.0,
 Timestamp('2002-01-02 13:00:00'): 35548.0,
 Timestamp('2002-01-02 14:00:00'): 34978.0,
 Timestamp('2002-01-02 15:00:00'): 34304.0,
 Timestamp('2002-01-02 16:00:00'): 34169.0,
 Timestamp('2002-01-02 17:00:00'): 35674.0,
 Timestamp('2002-01-02 18:00:00'): 39532.0,
 Timestamp('2002-01-02 19:00:00'): 40002.0,
 Timestamp('2002-01-02 20:00:00'): 39484.0,
 Timestamp('2002-01-02 21:00:00'): 38693.0,
 Timestamp('2002-01-02 22:00:00'): 37016.0,
 Timestamp('2002-01-02 23:00:00'): 34332.0,
 Timestamp('2002-01-03 00:00:00'): 31451.0,
 Timestamp('2002-01-03 01:00:00'): 29414.0,
 Timestamp('2002-01-03 02:00:00'): 28537.0,
 Timestamp('2002-01-03 03:00:00'): 28118.0,
 Timestamp('2002-01-03 04:00:00'): 28106.0,
 Timestamp('2002-01-03 05:00:00'): 28650.0,
 Timestamp('2002-01-03 06:00:00'): 30687.0,
 Timestamp('2002-01-03 07:00:00'): 34696.0,
 Timestamp('2002-01-03 08:00:00'): 37196.0,
 Timestamp('2002-01-03 09:00:00'): 37436.0,
 Timestamp('2002-01-03 10:00:00'): 37323.0,
 Timestamp('2002-01-03 11:00:00'): 37198.0,
 Timestamp('2002-01-03 12:00:00'): 36548.0,
 Timestamp('2002-01-03 13:00:00'): 36024.0,
 Timestamp('2002-01-03 14:00:00'): 35186.0,
 Timestamp('2002-01-03 15:00:00'): 34478.0,
 Timestamp('2002-01-03 16:00:00'): 34497.0,
 Timestamp('2002-01-03 17:00:00'): 35807.0,
 Timestamp('2002-01-03 18:00:00'): 39261.0,
 Timestamp('2002-01-03 19:00:00'): 39662.0,
 Timestamp('2002-01-03 20:00:00'): 39177.0,
 Timestamp('2002-01-03 21:00:00'): 38328.0,
 Timestamp('2002-01-03 22:00:00'): 36636.0,
 Timestamp('2002-01-03 23:00:00'): 33869.0,
 Timestamp('2002-01-04 00:00:00'): 31038.0,
 Timestamp('2002-01-04 01:00:00'): 29338.0,
 Timestamp('2002-01-04 02:00:00'): 28421.0,
 Timestamp('2002-01-04 03:00:00'): 28145.0,
 Timestamp('2002-01-04 04:00:00'): 28122.0,
 Timestamp('2002-01-04 05:00:00'): 28637.0,
 Timestamp('2002-01-04 06:00:00'): 30540.0,
 Timestamp('2002-01-04 07:00:00'): 34579.0,
 Timestamp('2002-01-04 08:00:00'): 36958.0,
 Timestamp('2002-01-04 09:00:00'): 36721.0,
 Timestamp('2002-01-04 10:00:00'): 36318.0,
 Timestamp('2002-01-04 11:00:00'): 35809.0,
 Timestamp('2002-01-04 12:00:00'): 35333.0,
 Timestamp('2002-01-04 13:00:00'): 34639.0,
 Timestamp('2002-01-04 14:00:00'): 34237.0,
 Timestamp('2002-01-04 15:00:00'): 33577.0,
 Timestamp('2002-01-04 16:00:00'): 33352.0,
 Timestamp('2002-01-04 17:00:00'): 34563.0,
 Timestamp('2002-01-04 18:00:00'): 37710.0,
 Timestamp('2002-01-04 19:00:00'): 38263.0,
 Timestamp('2002-01-04 20:00:00'): 37539.0,
 Timestamp('2002-01-04 21:00:00'): 36762.0,
 Timestamp('2002-01-04 22:00:00'): 35368.0,
 Timestamp('2002-01-04 23:00:00'): 33202.0,
 Timestamp('2002-01-05 00:00:00'): 30924.0,
 Timestamp('2002-01-05 01:00:00'): 28635.0,
 Timestamp('2002-01-05 02:00:00'): 27501.0,
 Timestamp('2002-01-05 03:00:00'): 27034.0,
 Timestamp('2002-01-05 04:00:00'): 26669.0,
 Timestamp('2002-01-05 05:00:00'): 26822.0,
 Timestamp('2002-01-05 06:00:00'): 27399.0,
 Timestamp('2002-01-05 07:00:00'): 28557.0,
 Timestamp('2002-01-05 08:00:00'): 29709.0,
 Timestamp('2002-01-05 09:00:00'): 31241.0,
 Timestamp('2002-01-05 10:00:00'): 32375.0,
 Timestamp('2002-01-05 11:00:00'): 32490.0,
 Timestamp('2002-01-05 12:00:00'): 31933.0,
 Timestamp('2002-01-05 13:00:00'): 31099.0,
 Timestamp('2002-01-05 14:00:00'): 30399.0,
 Timestamp('2002-01-05 15:00:00'): 29551.0,
 Timestamp('2002-01-05 16:00:00'): 29299.0,
 Timestamp('2002-01-05 17:00:00'): 30729.0,
 Timestamp('2002-01-05 18:00:00'): 33846.0,
 Timestamp('2002-01-05 19:00:00'): 34092.0,
 Timestamp('2002-01-05 20:00:00'): 33684.0,
 Timestamp('2002-01-05 21:00:00'): 33033.0,
 Timestamp('2002-01-05 22:00:00'): 32022.0,
 Timestamp('2002-01-05 23:00:00'): 30680.0,
 Timestamp('2002-01-06 00:00:00'): 29011.0,
 Timestamp('2002-01-06 01:00:00'): 27100.0,
 Timestamp('2002-01-06 02:00:00'): 26097.0,
 Timestamp('2002-01-06 03:00:00'): 25793.0,
 Timestamp('2002-01-06 04:00:00'): 25657.0,
 Timestamp('2002-01-06 05:00:00'): 25778.0,
 Timestamp('2002-01-06 06:00:00'): 26396.0,
 Timestamp('2002-01-06 07:00:00'): 27143.0,
 Timestamp('2002-01-06 08:00:00'): 28059.0,
 Timestamp('2002-01-06 09:00:00'): 29379.0,
 Timestamp('2002-01-06 10:00:00'): 30744.0,
 Timestamp('2002-01-06 11:00:00'): 31051.0,
 Timestamp('2002-01-06 12:00:00'): 31040.0,
 Timestamp('2002-01-06 13:00:00'): 31139.0,
 Timestamp('2002-01-06 14:00:00'): 31233.0,
 Timestamp('2002-01-06 15:00:00'): 31375.0,
 Timestamp('2002-01-06 16:00:00'): 32003.0,
 Timestamp('2002-01-06 17:00:00'): 33899.0,
 Timestamp('2002-01-06 18:00:00'): 35900.0,
 Timestamp('2002-01-06 19:00:00'): 35971.0,
 Timestamp('2002-01-06 20:00:00'): 35306.0,
 Timestamp('2002-01-06 21:00:00'): 34315.0,
 Timestamp('2002-01-06 22:00:00'): 32731.0,
 Timestamp('2002-01-06 23:00:00'): 30646.0,
 Timestamp('2002-01-07 00:00:00'): 28337.0,
 Timestamp('2002-01-07 01:00:00'): 26862.0,
 Timestamp('2002-01-07 02:00:00'): 25976.0,
 Timestamp('2002-01-07 03:00:00'): 25641.0,
 Timestamp('2002-01-07 04:00:00'): 25666.0,
 Timestamp('2002-01-07 05:00:00'): 26328.0,
 Timestamp('2002-01-07 06:00:00'): 28267.0,
 Timestamp('2002-01-07 07:00:00'): 31938.0,
 Timestamp('2002-01-07 08:00:00'): 34678.0,
 Timestamp('2002-01-07 09:00:00'): 35349.0,
 Timestamp('2002-01-07 10:00:00'): 35542.0,
 Timestamp('2002-01-07 11:00:00'): 35857.0,
 Timestamp('2002-01-07 12:00:00'): 35787.0,
 Timestamp('2002-01-07 13:00:00'): 35790.0,
 Timestamp('2002-01-07 14:00:00'): 35594.0,
 Timestamp('2002-01-07 15:00:00'): 35527.0,
 Timestamp('2002-01-07 16:00:00'): 35489.0,
 Timestamp('2002-01-07 17:00:00'): 36530.0,
 Timestamp('2002-01-07 18:00:00'): 39140.0,
 Timestamp('2002-01-07 19:00:00'): 39581.0,
 Timestamp('2002-01-07 20:00:00'): 38780.0,
 Timestamp('2002-01-07 21:00:00'): 37777.0,
 Timestamp('2002-01-07 22:00:00'): 35997.0,
 Timestamp('2002-01-07 23:00:00'): 33579.0,
 Timestamp('2002-01-08 00:00:00'): 31187.0,
 Timestamp('2002-01-08 01:00:00'): 29445.0,
 Timestamp('2002-01-08 02:00:00'): 28670.0,
 Timestamp('2002-01-08 03:00:00'): 28375.0,
 Timestamp('2002-01-08 04:00:00'): 28542.0,
 Timestamp('2002-01-08 05:00:00'): 29261.0,
 Timestamp('2002-01-08 06:00:00'): 31348.0,
 Timestamp('2002-01-08 07:00:00'): 35335.0,
 Timestamp('2002-01-08 08:00:00'): 37841.0,
 Timestamp('2002-01-08 09:00:00'): 37417.0,
 Timestamp('2002-01-08 10:00:00'): 36824.0,
 Timestamp('2002-01-08 11:00:00'): 36504.0,
 Timestamp('2002-01-08 12:00:00'): 35741.0,
 Timestamp('2002-01-08 13:00:00'): 35158.0,
 Timestamp('2002-01-08 14:00:00'): 34591.0,
 Timestamp('2002-01-08 15:00:00'): 34078.0,
 Timestamp('2002-01-08 16:00:00'): 34006.0,
 Timestamp('2002-01-08 17:00:00'): 35270.0,
 Timestamp('2002-01-08 18:00:00'): 38779.0,
 Timestamp('2002-01-08 19:00:00'): 39450.0,
 Timestamp('2002-01-08 20:00:00'): 38898.0,
 Timestamp('2002-01-08 21:00:00'): 38178.0,
 Timestamp('2002-01-08 22:00:00'): 36282.0,
 Timestamp('2002-01-08 23:00:00'): 33530.0,
 Timestamp('2002-01-09 00:00:00'): 30943.0,
 Timestamp('2002-01-09 01:00:00'): 29082.0,
 Timestamp('2002-01-09 02:00:00'): 28154.0,
 Timestamp('2002-01-09 03:00:00'): 27829.0,
 Timestamp('2002-01-09 04:00:00'): 27759.0,
 Timestamp('2002-01-09 05:00:00'): 28308.0,
 Timestamp('2002-01-09 06:00:00'): 30169.0,
 Timestamp('2002-01-09 07:00:00'): 34261.0,
 Timestamp('2002-01-09 08:00:00'): 36714.0,
 Timestamp('2002-01-09 09:00:00'): 36494.0,
 Timestamp('2002-01-09 10:00:00'): 36417.0,
 Timestamp('2002-01-09 11:00:00'): 36529.0,
 Timestamp('2002-01-09 12:00:00'): 36181.0,
 Timestamp('2002-01-09 13:00:00'): 35698.0,
 Timestamp('2002-01-09 14:00:00'): 35342.0,
 Timestamp('2002-01-09 15:00:00'): 34750.0,
 Timestamp('2002-01-09 16:00:00'): 34709.0,
 Timestamp('2002-01-09 17:00:00'): 35477.0,
 Timestamp('2002-01-09 18:00:00'): 37984.0,
 Timestamp('2002-01-09 19:00:00'): 38111.0,
 Timestamp('2002-01-09 20:00:00'): 37316.0,
 Timestamp('2002-01-09 21:00:00'): 36319.0,
 Timestamp('2002-01-09 22:00:00'): 34456.0,
 Timestamp('2002-01-09 23:00:00'): 31626.0,
 Timestamp('2002-01-10 00:00:00'): 29096.0,
 Timestamp('2002-01-10 01:00:00'): 27144.0,
 Timestamp('2002-01-10 02:00:00'): 26163.0,
 Timestamp('2002-01-10 03:00:00'): 25752.0,
 Timestamp('2002-01-10 04:00:00'): 25629.0,
 Timestamp('2002-01-10 05:00:00'): 26257.0,
 Timestamp('2002-01-10 06:00:00'): 28350.0,
 Timestamp('2002-01-10 07:00:00'): 32472.0,
 Timestamp('2002-01-10 08:00:00'): 34791.0,
 Timestamp('2002-01-10 09:00:00'): 34403.0,
 Timestamp('2002-01-10 10:00:00'): 33905.0,
 Timestamp('2002-01-10 11:00:00'): 33416.0,
 Timestamp('2002-01-10 12:00:00'): 32986.0,
 Timestamp('2002-01-10 13:00:00'): 32499.0,
 Timestamp('2002-01-10 14:00:00'): 32380.0,
 Timestamp('2002-01-10 15:00:00'): 31904.0,
 Timestamp('2002-01-10 16:00:00'): 31866.0,
 Timestamp('2002-01-10 17:00:00'): 32910.0,
 Timestamp('2002-01-10 18:00:00'): 35702.0,
 Timestamp('2002-01-10 19:00:00'): 35895.0,
 Timestamp('2002-01-10 20:00:00'): 35194.0,
 Timestamp('2002-01-10 21:00:00'): 34259.0,
 Timestamp('2002-01-10 22:00:00'): 32431.0,
 Timestamp('2002-01-10 23:00:00'): 29913.0,
 Timestamp('2002-01-11 00:00:00'): 27252.0,
 Timestamp('2002-01-11 01:00:00'): 25364.0,
 Timestamp('2002-01-11 02:00:00'): 24433.0,
 Timestamp('2002-01-11 03:00:00'): 23966.0,
 Timestamp('2002-01-11 04:00:00'): 23928.0,
 Timestamp('2002-01-11 05:00:00'): 24559.0,
 Timestamp('2002-01-11 06:00:00'): 26612.0,
 Timestamp('2002-01-11 07:00:00'): 30639.0,
 Timestamp('2002-01-11 08:00:00'): 33601.0,
 Timestamp('2002-01-11 09:00:00'): 33849.0,
 Timestamp('2002-01-11 10:00:00'): 34012.0,
 Timestamp('2002-01-11 11:00:00'): 34179.0,
 Timestamp('2002-01-11 12:00:00'): 33877.0,
 Timestamp('2002-01-11 13:00:00'): 33177.0,
 Timestamp('2002-01-11 14:00:00'): 32816.0,
 Timestamp('2002-01-11 15:00:00'): 32450.0,
 Timestamp('2002-01-11 16:00:00'): 32264.0,
 Timestamp('2002-01-11 17:00:00'): 33284.0,
 Timestamp('2002-01-11 18:00:00'): 35631.0,
 Timestamp('2002-01-11 19:00:00'): 35672.0,
 Timestamp('2002-01-11 20:00:00'): 34829.0,
 Timestamp('2002-01-11 21:00:00'): 33588.0,
 Timestamp('2002-01-11 22:00:00'): 32373.0,
 Timestamp('2002-01-11 23:00:00'): 30386.0,
 Timestamp('2002-01-12 00:00:00'): 28222.0,
 Timestamp('2002-01-12 01:00:00'): 26248.0,
 Timestamp('2002-01-12 02:00:00'): 25198.0,
 Timestamp('2002-01-12 03:00:00'): 24791.0,
 Timestamp('2002-01-12 04:00:00'): 24665.0,
 Timestamp('2002-01-12 05:00:00'): 24887.0,
 Timestamp('2002-01-12 06:00:00'): 25701.0,
 Timestamp('2002-01-12 07:00:00'): 27096.0,
 Timestamp('2002-01-12 08:00:00'): 28437.0,
 Timestamp('2002-01-12 09:00:00'): 29891.0,
 Timestamp('2002-01-12 10:00:00'): 30623.0,
 Timestamp('2002-01-12 11:00:00'): 30641.0,
 Timestamp('2002-01-12 12:00:00'): 30059.0,
 Timestamp('2002-01-12 13:00:00'): 29210.0,
 Timestamp('2002-01-12 14:00:00'): 28395.0,
 Timestamp('2002-01-12 15:00:00'): 27712.0,
 Timestamp('2002-01-12 16:00:00'): 27446.0,
 Timestamp('2002-01-12 17:00:00'): 28518.0,
 Timestamp('2002-01-12 18:00:00'): 31548.0,
 Timestamp('2002-01-12 19:00:00'): 32283.0,
 Timestamp('2002-01-12 20:00:00'): 31762.0,
 Timestamp('2002-01-12 21:00:00'): 31097.0,
 Timestamp('2002-01-12 22:00:00'): 30135.0,
 Timestamp('2002-01-12 23:00:00'): 28640.0,
 Timestamp('2002-01-13 00:00:00'): 26803.0,
 Timestamp('2002-01-13 01:00:00'): 25052.0,
 Timestamp('2002-01-13 02:00:00'): 24007.0,
 Timestamp('2002-01-13 03:00:00'): 23441.0,
 Timestamp('2002-01-13 04:00:00'): 23129.0,
 Timestamp('2002-01-13 05:00:00'): 23244.0,
 Timestamp('2002-01-13 06:00:00'): 23700.0,
 Timestamp('2002-01-13 07:00:00'): 24737.0,
 Timestamp('2002-01-13 08:00:00'): 25970.0,
 Timestamp('2002-01-13 09:00:00'): 27369.0,
 Timestamp('2002-01-13 10:00:00'): 28455.0,
 Timestamp('2002-01-13 11:00:00'): 28982.0,
 Timestamp('2002-01-13 12:00:00'): 29257.0,
 Timestamp('2002-01-13 13:00:00'): 29364.0,
 Timestamp('2002-01-13 14:00:00'): 29036.0,
 Timestamp('2002-01-13 15:00:00'): 28702.0,
 Timestamp('2002-01-13 16:00:00'): 28615.0,
 Timestamp('2002-01-13 17:00:00'): 29730.0,
 Timestamp('2002-01-13 18:00:00'): 32721.0,
 Timestamp('2002-01-13 19:00:00'): 33627.0,
 Timestamp('2002-01-13 20:00:00'): 33337.0,
 Timestamp('2002-01-13 21:00:00'): 32851.0,
 Timestamp('2002-01-13 22:00:00'): 31594.0,
 Timestamp('2002-01-13 23:00:00'): 29545.0,
 Timestamp('2002-01-14 00:00:00'): 27659.0,
 Timestamp('2002-01-14 01:00:00'): 26059.0,
 Timestamp('2002-01-14 02:00:00'): 25487.0,
 Timestamp('2002-01-14 03:00:00'): 25363.0,
 Timestamp('2002-01-14 04:00:00'): 25436.0,
 Timestamp('2002-01-14 05:00:00'): 26117.0,
 Timestamp('2002-01-14 06:00:00'): 28402.0,
 Timestamp('2002-01-14 07:00:00'): 32754.0,
 Timestamp('2002-01-14 08:00:00'): 35194.0,
 Timestamp('2002-01-14 09:00:00'): 34939.0,
 Timestamp('2002-01-14 10:00:00'): 34515.0,
 Timestamp('2002-01-14 11:00:00'): 34062.0,
 Timestamp('2002-01-14 12:00:00'): 33461.0,
 Timestamp('2002-01-14 13:00:00'): 32880.0,
 Timestamp('2002-01-14 14:00:00'): 32531.0,
 Timestamp('2002-01-14 15:00:00'): 31982.0,
 Timestamp('2002-01-14 16:00:00'): 32184.0,
 Timestamp('2002-01-14 17:00:00'): 33544.0,
 Timestamp('2002-01-14 18:00:00'): 36206.0,
 Timestamp('2002-01-14 19:00:00'): 36504.0,
 Timestamp('2002-01-14 20:00:00'): 35782.0,
 Timestamp('2002-01-14 21:00:00'): 34665.0,
 Timestamp('2002-01-14 22:00:00'): 32740.0,
 Timestamp('2002-01-14 23:00:00'): 30005.0,
 Timestamp('2002-01-15 00:00:00'): 27483.0,
 Timestamp('2002-01-15 01:00:00'): 25643.0,
 Timestamp('2002-01-15 02:00:00'): 24967.0,
 Timestamp('2002-01-15 03:00:00'): 24715.0,
 Timestamp('2002-01-15 04:00:00'): 24826.0,
 Timestamp('2002-01-15 05:00:00'): 25630.0,
 Timestamp('2002-01-15 06:00:00'): 27870.0,
 Timestamp('2002-01-15 07:00:00'): 32057.0,
 Timestamp('2002-01-15 08:00:00'): 34375.0,
 Timestamp('2002-01-15 09:00:00'): 34143.0,
 Timestamp('2002-01-15 10:00:00'): 33509.0,
 Timestamp('2002-01-15 11:00:00'): 33178.0,
 Timestamp('2002-01-15 12:00:00'): 32828.0,
 Timestamp('2002-01-15 13:00:00'): 32421.0,
 Timestamp('2002-01-15 14:00:00'): 32278.0,
 Timestamp('2002-01-15 15:00:00'): 31970.0,
 Timestamp('2002-01-15 16:00:00'): 31927.0,
 Timestamp('2002-01-15 17:00:00'): 32905.0,
 Timestamp('2002-01-15 18:00:00'): 35730.0,
 Timestamp('2002-01-15 19:00:00'): 36282.0,
 Timestamp('2002-01-15 20:00:00'): 35694.0,
 Timestamp('2002-01-15 21:00:00'): 34953.0,
 Timestamp('2002-01-15 22:00:00'): 33278.0,
 Timestamp('2002-01-15 23:00:00'): 30709.0,
 Timestamp('2002-01-16 00:00:00'): 28211.0,
 Timestamp('2002-01-16 01:00:00'): 26530.0,
 Timestamp('2002-01-16 02:00:00'): 25750.0,
 Timestamp('2002-01-16 03:00:00'): 25472.0,
 Timestamp('2002-01-16 04:00:00'): 25460.0,
 Timestamp('2002-01-16 05:00:00'): 26174.0,
 Timestamp('2002-01-16 06:00:00'): 28361.0,
 Timestamp('2002-01-16 07:00:00'): 32443.0,
 Timestamp('2002-01-16 08:00:00'): 34902.0,
 Timestamp('2002-01-16 09:00:00'): 34752.0,
 Timestamp('2002-01-16 10:00:00'): 34341.0,
 Timestamp('2002-01-16 11:00:00'): 34223.0,
 Timestamp('2002-01-16 12:00:00'): 33875.0,
 Timestamp('2002-01-16 13:00:00'): 33488.0,
 Timestamp('2002-01-16 14:00:00'): 33227.0,
 Timestamp('2002-01-16 15:00:00'): 32699.0,
 Timestamp('2002-01-16 16:00:00'): 32573.0,
 Timestamp('2002-01-16 17:00:00'): 33817.0,
 Timestamp('2002-01-16 18:00:00'): 36666.0,
 Timestamp('2002-01-16 19:00:00'): 37302.0,
 Timestamp('2002-01-16 20:00:00'): 36697.0,
 Timestamp('2002-01-16 21:00:00'): 35832.0,
 Timestamp('2002-01-16 22:00:00'): 34082.0,
 Timestamp('2002-01-16 23:00:00'): 31357.0,
 Timestamp('2002-01-17 00:00:00'): 28849.0,
 Timestamp('2002-01-17 01:00:00'): 26984.0,
 Timestamp('2002-01-17 02:00:00'): 26135.0,
 Timestamp('2002-01-17 03:00:00'): 25601.0,
 Timestamp('2002-01-17 04:00:00'): 25708.0,
 Timestamp('2002-01-17 05:00:00'): 26130.0,
 Timestamp('2002-01-17 06:00:00'): 28123.0,
 Timestamp('2002-01-17 07:00:00'): 32359.0,
 Timestamp('2002-01-17 08:00:00'): 34860.0,
 Timestamp('2002-01-17 09:00:00'): 34703.0,
 Timestamp('2002-01-17 10:00:00'): 34638.0,
 Timestamp('2002-01-17 11:00:00'): 34115.0,
 Timestamp('2002-01-17 12:00:00'): 33835.0,
 Timestamp('2002-01-17 13:00:00'): 33368.0,
 Timestamp('2002-01-17 14:00:00'): 33152.0,
 Timestamp('2002-01-17 15:00:00'): 32662.0,
 Timestamp('2002-01-17 16:00:00'): 32300.0,
 Timestamp('2002-01-17 17:00:00'): 33198.0,
 Timestamp('2002-01-17 18:00:00'): 35910.0,
 Timestamp('2002-01-17 19:00:00'): 36509.0,
 Timestamp('2002-01-17 20:00:00'): 36033.0,
 Timestamp('2002-01-17 21:00:00'): 35209.0,
 Timestamp('2002-01-17 22:00:00'): 33595.0,
 Timestamp('2002-01-17 23:00:00'): 31175.0,
 Timestamp('2002-01-18 00:00:00'): 28634.0,
 Timestamp('2002-01-18 01:00:00'): 26991.0,
 Timestamp('2002-01-18 02:00:00'): 26036.0,
 Timestamp('2002-01-18 03:00:00'): 25787.0,
 Timestamp('2002-01-18 04:00:00'): 25692.0,
 Timestamp('2002-01-18 05:00:00'): 26353.0,
 Timestamp('2002-01-18 06:00:00'): 28479.0,
 Timestamp('2002-01-18 07:00:00'): 32477.0,
 Timestamp('2002-01-18 08:00:00'): 35145.0,
 Timestamp('2002-01-18 09:00:00'): 35117.0,
 Timestamp('2002-01-18 10:00:00'): 34911.0,
 Timestamp('2002-01-18 11:00:00'): 34741.0,
 Timestamp('2002-01-18 12:00:00'): 34277.0,
 Timestamp('2002-01-18 13:00:00'): 33600.0,
 Timestamp('2002-01-18 14:00:00'): 33269.0,
 Timestamp('2002-01-18 15:00:00'): 32774.0,
 Timestamp('2002-01-18 16:00:00'): 32506.0,
 Timestamp('2002-01-18 17:00:00'): 33203.0,
 Timestamp('2002-01-18 18:00:00'): 35883.0,
 Timestamp('2002-01-18 19:00:00'): 36530.0,
 Timestamp('2002-01-18 20:00:00'): 35805.0,
 Timestamp('2002-01-18 21:00:00'): 35076.0,
 Timestamp('2002-01-18 22:00:00'): 33741.0,
 Timestamp('2002-01-18 23:00:00'): 32008.0,
 Timestamp('2002-01-19 00:00:00'): 30189.0,
 Timestamp('2002-01-19 01:00:00'): 28412.0,
 Timestamp('2002-01-19 02:00:00'): 27385.0,
 Timestamp('2002-01-19 03:00:00'): 26944.0,
 Timestamp('2002-01-19 04:00:00'): 26832.0,
 Timestamp('2002-01-19 05:00:00'): 26937.0,
 Timestamp('2002-01-19 06:00:00'): 27499.0,
 Timestamp('2002-01-19 07:00:00'): 28673.0,
 Timestamp('2002-01-19 08:00:00'): 30199.0,
 Timestamp('2002-01-19 09:00:00'): 31999.0,
 Timestamp('2002-01-19 10:00:00'): 33554.0,
 Timestamp('2002-01-19 11:00:00'): 34453.0,
 Timestamp('2002-01-19 12:00:00'): 34518.0,
 Timestamp('2002-01-19 13:00:00'): 34413.0,
 Timestamp('2002-01-19 14:00:00'): 34207.0,
 Timestamp('2002-01-19 15:00:00'): 33729.0,
 Timestamp('2002-01-19 16:00:00'): 34078.0,
 Timestamp('2002-01-19 17:00:00'): 34640.0,
 Timestamp('2002-01-19 18:00:00'): 36555.0,
 Timestamp('2002-01-19 19:00:00'): 36438.0,
 Timestamp('2002-01-19 20:00:00'): 35458.0,
 Timestamp('2002-01-19 21:00:00'): 34569.0,
 Timestamp('2002-01-19 22:00:00'): 32986.0,

In [18]:
df['lag1'] = (df.index - pd.Timedelta('364 days')).map(target_map)
df['lag2'] = (df.index - pd.Timedelta('728 days')).map(target_map)
df['lag3'] = (df.index - pd.Timedelta('1092 days')).map(target_map)

In [19]:
# df.dropna(axis=0, how='any', inplace=True)

In [20]:
df.head()

,pjme_mw,hour,dayofweek,quarter,month,year,dayofyear,day,weekofyear,lag1,lag2,lag3
datetime,,,,,,,,,,,,
2002-01-01 01:00:00,30393.0,1,1,1,1,2002,1,1,1,NaN,NaN,NaN
2002-01-01 02:00:00,29265.0,2,1,1,1,2002,1,1,1,NaN,NaN,NaN
2002-01-01 03:00:00,28357.0,3,1,1,1,2002,1,1,1,NaN,NaN,NaN
2002-01-01 04:00:00,27899.0,4,1,1,1,2002,1,1,1,NaN,NaN,NaN
2002-01-01 05:00:00,28057.0,5,1,1,1,2002,1,1,1,NaN,NaN,NaN

In [21]:
df_train = df.query('index < "01-01-2018"').copy()
df_test = df.query('index >= "01-01-2018"').copy()

In [22]:
df_train.to_csv(f'{datapath}/pjme_train.csv')
df_test.to_csv(f'{datapath}/pjme_test.csv')